body{
    color:white;
    background:black;
    margin:0px;
}

header{
    border-bottom: solid 10px rgb(179,48, 114)
    padding:20px;
    font-size:32px;
    color:rgb(179,48,114)
}

section{
    background:rgb(165,42,42)
    padding-bottom:80px;
}
